version: "3.9"

services:
    backend:
        build: ./backend
        container_name: fastapi-app
        ports:
            - "8000:8000"
        volumes:
            - ./backend:/app
        restart: always

    frontend:
        build: ./frontend
        container_name: react-app
        ports:
            - "5173:5173"
        volumes:
            - ./frontend:/app
            - /app/node_modules
        restart: always
